html {
  font-size: 10px;
}
body {
  width: 100%;
  height: 100%;
  background-color: cornsilk;
}

h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
  margin-bottom: 40px;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 15px;
  bottom: 15px;
  text-align: center;
}
.web-menu {
  display: none;
}
.mobile-menu .mobile-nav li {
  width: 84px;
  margin-bottom: 10px;
  padding: 4px;
  border-radius: 5%;
  background: linear-gradient(134deg, #ff7272 0%, rgb(73, 97, 220) 99%);
  font-size: 1.5rem;
  line-height: 3rem;
  color: #ffff;
  box-shadow: rgb(0 0 0 / 10%) 1px 3px 13px 0px;
}
.list-btn {
  width: 40px;
  height: 50px;
}

.dark-m-btn {
  width: 65px;
  height: 65px;
  margin-bottom: 5px;
  border-radius: 50%;
  border: none;
  background: linear-gradient(134deg, #ff7272 0%, rgb(73, 97, 220) 99%);
}
.mobile-m-btn {
  display: block;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: none;
  background: linear-gradient(134deg, #ff7272 0%, rgb(73, 97, 220) 99%);
}
/* home css!! */
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: cornsilk;
}
.home .home-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home .home-wrap .home-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.home-info .txtbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.txtbox {
  margin-top: 40px;
}
.txtbox > p {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}
.txtbox > h1 {
  font-size: 34px;
  font-weight: 700;
}
.home-wrap .download {
  margin: 20px 0;
  border-radius: 10%;
  background-color: rgb(180, 238, 142);
}
.home-info .myActive {
  display: flex;
  justify-content: space-between;
  width: 80px;
}
.home-intoduce {
  min-width: 70%;
  height: 300px;
  border: 3px double rgb(68, 65, 65);
  margin: 30px 40px;
}
.home-intoduce > p {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
}
.myActive .velog {
  width: 24px;
  height: 24px;
}
/* About me css!! */
.about-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: cornsilk;
}
.about-wrap img {
  width: 160px;
  height: 200px;
  border-radius: 60%;
  padding: 10px 0;
  margin: 25px 0;
}

.about-wrap .self-story .introduce {
  font-size: 15px;
  text-align: center;
  margin: 20px 0;
}
.About-ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 1800px;
}

.About-ul > li {
  width: 25%;
  height: 80px;
  font-size: 15px;
  line-height: 150%;
  background-color: #f2ffe9;
  margin-bottom: 50px;
  padding: 20px 20px 30px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px gray;
}

.MySkillsets {
  display: flex;
  flex-direction: column;
  justify-content: content;
  align-items: center;
  width: 100%;
  background-color: cornsilk;
}
.MySkillsets h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
  margin-bottom: 40px;
}
.MySkillsets .list-skills {
  display: flex;
  justify-content: space-around;
  width: 70%;
  min-width: 700px;
  height: 100px;
  /* background-color: purple; */
}
.MySkillsets .list-skills li {
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-size: contain;
  background: url("../img/skill/css_sprites.png");
}
.MySkillsets .list-skills .html {
  background-position: -10px -80px;
}
.MySkillsets .list-skills .css {
  background-position: -10px -10px;
}
.MySkillsets .list-skills .js {
  background-position: -10px -150px;
}
.MySkillsets .list-skills .react {
  background-position: -10px -360px;
}
.MySkillsets .list-skills .node {
  background-position: -10px -220px;
}
.MySkillsets .list-skills .sass {
  background-position: -10px -430px;
}
.MySkillsets .list-skills .python {
  background-position: -10px -290px;
}
/* JustFun 구역 */
.JustFun {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}
.Just-arcticle {
  width: 70%;
  margin-bottom: 50px;
  background-color: #ffffff;
  border: 3px double rgb(192, 186, 186);
  border-radius: 0 0 10% 10%;
  padding-bottom: 10px;
}
.JustFun .codepen-wrap .codepen {
  height: 300px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  margin: 1em 0;
  padding: 1em;
}
.Just-arcticle .codepen-wrap .just-font > h3 {
  font-size: 22px;
  font-weight: 600;
  line-height: 40px;
}
.Just-arcticle .codepen-wrap .just-font > p {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.JustFun .link-fun {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;
}
.JustFun .link-fun a {
  border-radius: 25%;
  background-color: aquamarine;
  opacity: 0.7;
}

/* Web!!! */
@media screen and (min-width: 760px) {
  .wrap-mobile {
    display: none;
  }
  header {
    width: 100%;
    /* height: 20px; */
    border-bottom: 2px solid #bdfa91;
  }
  .logoimg {
    width: 80px;
    height: 80px;
    transform: scale(1.2);
    margin-left: 70px;
  }
  .web-menu {
    display: flex;
    justify-content: space-between;
  }
  .web-nave {
    display: flex;
    flex-direction: row;
  }
  .web-menu li {
    display: inline-block;
  }
  .web-menu li a {
    font-size: 18px;
    font-weight: 600;
    color: rgb(58, 63, 31);
    line-height: 80px;
    margin-right: 30px;
  }

  .web-menu .dark-w-btn {
    width: 80px;
    height: 40px;
    margin-top: 20px;
    margin-right: 70px;
    background-color: rgb(180, 238, 142);
    border-radius: 10%;
  }
  /* home */
  .home {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: cornsilk;
  }
  .home .home-wrap {
    display: flex;
  }
  .my-active .velog {
    width: 24px;
    height: 24px;
  }
  /* just영역 */
  .Just-arcticle .codepen-wrap {
    display: flex;
    width: 100%;
  }
  .Just-arcticle .codepen-wrap .just-font {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    text-align: center;
    width: 100px;
  }
  .JustFun .codepen-wrap .codepen {
    width: 50%;
    height: 300px;
  }
  .Just-arcticle .codepen-wrap .link-fun {
    width: 50%;
    height: 24px;
    font-size: 17px;
    margin-left: 50px;
  }
}
