:root {
  --shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  --hover-shadow: 5px 5px 5px rgba(255, 255, 255, 0.3);
  --bg-color: cornsilk;
  --color: #333;
  --txt-color: #fff;
  --accent-color-1: #182848;
  --accent-color-2: #4f5873;
  --accent-color-3: #333;
  --bg-gradient: linear-gradient(
    90deg,
    var(--accent-color-2) 0%,
    var(--accent-color-1) 100%
  );
  /* --white-30: rgba(255, 255, 255, 0.3); */
  --point-font: "Montserrat Subrayada", sans-serif;
  --main-font: "Montserrat Alternates", "Noto Sans KR", sans-serif;
  --mobile: 425px;
  --tablet: 768px;
  --laptot: 1024px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: rgb(214, 209, 209);
    --color: #fff;
    --txt-color: #333;
    --accent-color-1: #111;
    --accent-color-2: #222;
    --accent-color-3: #333;
  }
}
